tab name="auth" focus=true {
    pane command="task" cwd="../../../packages/auth" start_suspended=false {
        args "dev"
    }
}

tab name="server" {
    pane command="task" cwd="../../../packages/server" start_suspended=false {
        args "dev"
    }
}

tab name="history" {
    pane command="task" cwd="../../../packages/history" start_suspended=false {
        args "dev"
    }
}

tab name="job-runner" {
    pane command="task" cwd="../../../packages/job-runner" start_suspended=false {
        args "dev"
    }
}

tab name="reaction" {
    pane command="task" cwd="../../../packages/reaction" start_suspended=false {
        args "dev"
    }
}

tab name="ranking" {
    pane command="task" cwd="../../../packages/ranking" start_suspended=false {
        args "dev"
    }
}

tab name="notify" {
    pane command="task" cwd="../../../packages/notify" start_suspended=false {
        args "dev"
    }
}
