tab name="auth" focus=true {
    pane command="bun" cwd="../../../package/auth" start_suspended=false {
        args "dev"
    }
}

tab name="server" {
    pane command="bun" cwd="../../../package/server" start_suspended=false {
        args "dev"
    }
}

tab name="history" {
    pane command="bun" cwd="../../../package/history" start_suspended=false {
        args "dev"
    }
}

tab name="reaction" {
    pane command="bun" cwd="../../../package/reaction" start_suspended=false {
        args "dev"
    }
}

tab name="notify" {
    pane command="bun" cwd="../../../package/notify" start_suspended=false {
        args "dev"
    }
}
