[Unit]
Description=REZICS Auth Service (Better Auth + Elysia)
After=network.target

[Service]
User=www
Group=www

WorkingDirectory=/www/wwwroot/Library.Book/auth

ExecStart=/www/wwwroot/Library.Book/auth/server

Environment=NODE_ENV=production
Environment=PORT=3001

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
