@import "tailwindcss";

/* support toggling dark mode manually, disable media query */
@custom-variant dark (&:where(.dark, .dark *));

* {
    overflow: visible;
}

.no-scrollbar {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    /* Safari and Chrome */
    &::-webkit-scrollbar {
        display: none;
    }
}
