[Unit]
Description=REZICS Book-Library Server (Elysia)
After=network.target

[Service]
User=www
Group=www

# 服务运行目录（避免相对路径问题）
WorkingDirectory=/www/wwwroot/Library.Book/server

ExecStart=/www/wwwroot/Library.Book/server/server

Environment=NODE_ENV=production
Environment=PORT=3000

Restart=always
RestartSec=3

# 限制权限（可选）
# ProtectSystem=full
# NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
